<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "件のエラーが発生しました") %></h2>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :task_name %>
    <%= form.text_field :task_name %>
    <%= form.label :content %>
    <%= form.text_field :content %>
    <%= form.label :time_limit %>
    <%= form.date_select :time_limit %>
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys, include_blank: true %>
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys, include_blank: true %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :label_name) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
