<p id="notice"><%= notice %></p>
<h1><%= t('view.Tasks') %></h1>
<%# タイトルあいまい検索 %>
<button type="button" class = "btn btn-default">
<%= link_to t('link.new'), new_task_path %>
  </button>

<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <%= form.text_field :task_name_search %>
  <%= form.submit 'タスク検索', name: nil %>
<%# ステータス検索 %>
  <%= form.select :status_search, {'指定しない': -1, '未着手': 0, '着手中': 1, '完了': 2, },
                                  { include_blank: '', selected: -1},
                                  { class: 'status_select' , required: true } %>
  <%= form.submit 'ステータス検索', name: nil %>
  <br>
  <%= form.select("label_id", Label.pluck(:label_name, :id), { include_blank: true }) %>
  <%= form.submit 'ラベル検索', name: nil %>
<% end %>
<%# ソートのフォームウィズ %>
<%= form_with model: @task, url: tasks_path, method: :get, local: true do |form| %>
  <%= form.select :sort_time_limit, {'早いか遅いかで選んでください': -1,'終了期限が早い順': 'hurry', '終了期限が遅い順': 'slowly'},
                                    { include_blank: '', selected: -1},
                                    { id: 'time_limit_select' , required: true } %>
  <%= form.submit '終了期限でソートを行う'%>

  <%= form.select :sort_priority, {'高いか低いで選んでください': -1,'高': 2, '低': 0},
                                  { include_blank: '', selected: -1},
                                  { id: 'priority_select' , required: true } %>
  <%= form.submit '優先順位でソートを行う'%>
<% end %>
<table>
  <thead>
    <tr>
      <th id="th_color"><%= t('view.Task name') %></th>
      <th id="th_color"><%= t('view.Content') %></th>
      <th id="th_color"><%= t('view.Time limit') %></th>
      <th id="th_color"><%= t('view.Priority') %></th>
      <th id="th_color"><%= t('view.Status') %></th>
      <th id="th_color"><%= t('view.label') %></th>
      <th id="th_color"><%= t('view.Created_at') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
    <td id="task_color"><%= task.task_name%></td>
    <td id="content_color"><%= task.content%></td>
    <td id="time_limit_color"><%= task.time_limit%></td>
    <td id="priority_color"><%= task.priority %></td>
    <td id="status_color"><%= task.status %></td>
    <td id="label_color">
      <% task.labels.each do |label| %>
      <%= label.label_name %>
      <% end %>
    </td>
    <td><%= task.created_at.to_s(:datetime_jp)%></td>
    <td><button type="button" class = "btn btn-priority"><%= link_to '詳細', task %></button></td>
    <td><button type="button" class = "btn btn-priority"><%= link_to '編集', edit_task_path(task) %></button></td>
    <td><button type="button" class = "btn btn-priority"><%= link_to '削除', task, method: :delete, data: { confirm: '削除していいですか?' } %></button></td>
    </tr>
  <% end %>
  </tbody>
</table>
  <%= paginate @paginatable_array %>
