<p id="notice"><%= notice %></p>

<h1><%= t('view.Tasks') %></h1>
<%# タイトルあいまい検索 %>
<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <%= form.text_field :task_name_search %>
  <%= form.submit 'タスク検索', name: nil %>
<%# ステータス検索 %>

  <%= form.select :status_search, {'指定しない': -1, '未着手': 0, '着手中': 1, '完了': 2, },
                                  { include_blank: '', selected: -1},
                                  { class: 'status_select' , required: true } %>
  <%= form.submit 'ステータス検索', name: nil %>
<% end %>
<%# ソートのフォームウィズ %>
<%= form_with model: @task, url: tasks_path, method: :get, local: true do |form| %>
  <%= form.select :sort_time_limit, {'早いか遅いかで選んでください': -1,'終了期限が早い順': 'hurry', '終了期限が遅い順': 'slowly'},
                                    { include_blank: '', selected: -1},
                                    { id: 'time_limit_select' , required: true } %>
  <%= form.submit '終了期限でソートを行う'%>

  <%= form.select :sort_priority, {'高いか低いで選んでください': -1,'高': 2, '低': 0},
                                  { include_blank: '', selected: -1},
                                  { id: 'priority_select' , required: true } %>
  <%= form.submit '優先順位でソートを行う'%>
<% end %>
<table>
  <thead>
    <tr>
      <th><%= t('view.Task name') %></th>
      <th><%= t('view.Content') %></th>
      <th><%= t('view.Time limit') %></th>
      <th><%= t('view.Priority') %></th>
      <th><%= t('view.Status') %></th>
      <th><%= t('view.Created_at') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name%></td>
        <td><%= task.content%></td>
        <td><%= task.time_limit%></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= task.created_at.to_s(:datetime_jp)%></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= paginate @paginatable_array %>

<br>

<%= link_to t('link.new'), new_task_path %>
