<p id="notice"><%= notice %></p>
<h1><%= t('view.show') %></h1>
<p>
  <strong><%= t('view.Task name') %>:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong><%= t('view.Content') %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('view.Time limit') %>:</strong>
  <%= @task.time_limit %>
</p>

<p>
  <strong><%= t('view.Priority') %>:</strong>
  <%= @task.priority %>
</p>
<p>
  <strong><%= t('view.Status') %>:</strong>
  <%= @task.status %>
</p>

<%= link_to t('link.edit'), edit_task_path(@task) %> |
<%= link_to t('link.back'), tasks_path %>
