<p id="notice"><%= notice %></p>
<h1><%= t('view.show') %></h1>
<p id = "show_text">
  <strong><%= t('view.Task name') %>:</strong>
  <%= @task.task_name %>
</p>
<p id = "show_text">
  <strong><%= t('view.Content') %>:</strong>
  <%= @task.content %>
</p>
<p id = "show_text">
  <strong><%= t('view.Time limit') %>:</strong>
  <%= @task.time_limit %>
</p>
<p id = "show_text">
  <strong><%= t('view.Priority') %>:</strong>
  <%= @task.priority %>
</p>
<p id = "show_text">
  <strong><%= t('view.Status') %>:</strong>
  <%= @task.status %>
</p>
<p id = "show_text">
  <strong><%= t('view.label') %>:</strong>
  <% @task.labels.each do |label| %>
  <%= label.label_name %>
  <% end %>
</p>

<button type="button" class = "btn btn-priority"><%= link_to t('link.edit'), edit_task_path(@task) %></button>
<button type="button" class = "btn btn-priority"><%= link_to t('link.back'), tasks_path %></button>
