<%= form_with(model: @user, url: admin_user_path, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "件のエラーが発生しました") %></h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    <%= form.label :管理者権限 %>
    <%= form.select :admin, User.admins.keys, include_blank: true %>
    <button type="button" class = "btn btn-priority">
    <%= form.submit "アカウントを更新する" %>
    </button>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
